# ==========================================
# 영상 입력 설정
# ==========================================

# true  = MP4 테스트 영상
# false = Raspberry Pi RTSP
USE_TEST_VIDEO=true

TEST_VIDEO_PATH=goldfish.mp4

RTSP_URL=rtsp://192.168.0.25:8554/cam


# ==========================================
# Node.js WebSocket 서버
# ==========================================

NODE_WS_URL=ws://localhost:3000


# ==========================================
# YOLO
# ==========================================

YOLO_MODEL_PATH=weights/best.pt


# ==========================================
# ByteTrack
# ==========================================

BYTETRACK_CONFIG=trackers/custom_bytetrack.yaml